[submodule "src/hexgl/HexGL"]
	path = src/hexgl/HexGL
	url = git@github.com:hmin/HexGL.git
[submodule "src/third-party/swifty-json"]
	path = src/third-party/swifty-json
	url = git@github.com:dankogai/swift-json.git
[submodule "src/cordova-plugin-demos/CordovaPluginFileDemo/CordovaPluginFileDemo/www/sample-file"]
	path = src/cordova-plugin-demos/CordovaPluginFileDemo/CordovaPluginFileDemo/www/sample-file
	url = git@github.com:Icenium/sample-file.git
[submodule "src/third-party/cordova-ios"]
	path = src/third-party/cordova-ios
	url = git@github.com:apache/cordova-ios.git
